player-connection-mode=Listen
player-connection-guid=3194669774
player-connection-debug=0
player-connection-project-name=InBoots
player-connection-ip=192.168.173.58
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=88ba4f94582c4185bfafab17e00d655a
